:root {
  font-family: Urbanist;
}

  
  header {
    background-color: #005a8e;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #mainNav {
    display: none;
  }
  
  #mainNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #mainNav ul li {
    margin: 0.5em 0;
  }
  
  #mainNav ul li a {
    text-decoration: none;
    color: white;
  }

  #mainNav a:hover {
    text-decoration: underline double;
    background-color: #eee;
    color: #000;
  }
  
  button#hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
  }
  
  
  main {
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  
  figure {
    margin: 0;
    text-align: center;
  }
  
  footer {
    background-color: #005a8e;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
  }
  
  img {
    width: 100%;
    height: auto; 
    display: block; 
  }
  